service: todo
useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: dev
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:PutItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${self:provider.region}:*:table/todo"

functions:
  app:
    handler: handler.handler
    name: todo
    description: API Gateway for todo
    memorySize: 128
    timeout: 10
    events:
      - httpApi: "*"